@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/*font-family: 'Outfit', sans-serif;*/

body {
  background-color: hsl(217, 54%, 11%);
}
#container {
  height: 620px;
  width: 355px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
  content: "";
  margin-left: 35%;
  margin-top: 7%;
}

#nft-image {
  height: 320px;
  width: 308px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 22px;
  cursor: pointer;
  transition: 0.3s ease;
}

#view-image {
  margin-left: 156px;
  margin-top: -191px;
  position: absolute;
  cursor: pointer;
  display: none;
}
#view-image::before {
  content: "";
  height: 320px;
  width: 308px;
  background-color: hsl(178, 100%, 50%);
  position: absolute;
  margin-left: -134px;
  margin-top: -132px;
  border-radius: 15px;
  opacity: 0.48;
  display: block;
}

#nfttitle h3 {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 23px;
  font-weight: 600;
  margin-left: 28px;
  transition: 0.3s ease;
  cursor: pointer;
}
#nfttitle h3:hover {
  color: hsl(178, 100%, 50%);
}
#para p {
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-left: 30px;
}
#priceandtime {
  display: flex;
  margin-left: 32px;
  font-size: 16px;
}
#priceandtime #price {
  font-family: "Outfit", sans-serif;
  color: hsl(178, 100%, 50%);
  display: flex;
}
#priceandtime #price img {
  margin-top: 15px;
  margin-right: 6px;
  height: 22px;
}
#priceandtime #time {
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  margin-left: 120px;
  display: flex;
}
#priceandtime #time img {
  margin-top: 16px;
  margin-right: 5px;
  height: 20px;
}

#line {
  width: 80%;
  height: 1.5px;
  background-color: hsl(215, 32%, 27%);
  border: none;
}
#profile {
  margin-left: 35px;
  margin-top: 11px;
  display: flex;
  align-items: center;
}
#profile img {
  height: 38px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

#profile p {
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
}
#profile #creatorname {
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}
#profile #creatorname:hover {
  color: hsl(178, 100%, 50%);
}

/*Phone CSS*/
@media screen and (max-width: 400px) {
  #container {
    margin-left: 7px;
  }
}
